<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rainbow.admin.mapper.BrandMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.rainbow.admin.entity.Brand">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="logo" property="logo" />
        <result column="description" property="description" />
        <result column="del_status" property="delStatus" />
        <result column="update_time" property="updateTime" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, logo, description, del_status, update_time, create_time
    </sql>

    <select id="pageBrandByItemId" resultMap="BaseResultMap">
        select
            b.id,
            b.name,
            b.logo,
            b.description,
            b.del_status,
            b.create_time,
            b.update_time
        from
            brand b
        where
        b.del_status = 0
        <if test="itemId != null">
            and b.id in (
                select bi.brand_id from brand_item bi where bi.item_id = #{itemId}
            )
        </if>
        <if test="brandName!=null">
            and b.name like CONCAT('%',#{brandName},'%')
        </if>
    </select>

</mapper>
