<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rainbow.admin.mapper.CouponCustomerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.rainbow.admin.entity.CouponCustomer">
        <id column="id" property="id" />
        <result column="coupon_id" property="couponId" />
        <result column="customer_id" property="customerId" />
        <result column="coupon_code" property="couponCode" />
        <result column="customer_name" property="customerName" />
        <result column="receive_type" property="receiveType" />
        <result column="create_time" property="createTime" />
        <result column="use_status" property="useStatus" />
        <result column="use_time" property="useTime" />
        <result column="order_id" property="orderId" />
        <result column="order_no" property="orderNo" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, coupon_id, customer_id, coupon_code, customer_name, receive_type, create_time, use_status, use_time, order_id, order_no
    </sql>

</mapper>
