<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rainbow.admin.mapper.SkuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.rainbow.admin.entity.Sku">
        <id column="id" property="id" />
        <result column="sku_name" property="skuName" />
        <result column="sku_no" property="skuNo" />
        <result column="spu_id" property="spuId" />
        <result column="stock" property="stock" />
        <result column="low_stock" property="lowStock" />
        <result column="sale" property="sale" />
        <result column="weight" property="weight" />
        <result column="dimension" property="dimension" />
        <result column="original_price" property="originalPrice" />
        <result column="price" property="price" />
        <result column="del_status" property="delStatus" />
        <result column="update_time" property="updateTime" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, sku_name, sku_no, spu_id, stock, low_stock, sale, weight, dimension, original_price, price, del_status, update_time, create_time
    </sql>

</mapper>
