<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rainbow.admin.mapper.SkuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.rainbow.admin.entity.Sku">
        <id column="id" property="id" />
        <result column="sku_no" property="skuNo" />
        <result column="spu_id" property="spuId" />
        <result column="stock" property="stock" />
        <result column="low_stock" property="lowStock" />
        <result column="sale" property="sale" />
        <result column="weight" property="weight" />
        <result column="dimension" property="dimension" />
        <result column="original_price" property="originalPrice" />
        <result column="price" property="price" />
        <result column="del_status" property="delStatus" />
        <result column="update_time" property="updateTime" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, sku_name, sku_no, spu_id, stock, low_stock, sale, weight, dimension, original_price, price, del_status, update_time, create_time
    </sql>


    <update id="removeBySpuId" parameterType="java.lang.Long">
        update sku set del_status = 1 where spu_id = #{spuId} and del_status = 0
    </update>


    <update id="updateBatch" parameterType="java.util.List">
        update  sku
        set sku_no =
        (case
        <foreach collection="list" item="item" index="index" open="" close="" separator=" ">
            when id = #{item.id} then #{item.skuNo}
        </foreach>
        else sku_no
        end),
        stock =
        (case
        <foreach collection="list" item="item" index="index" open="" close="" separator=" ">
            when id = #{item.id} then #{item.stock}
        </foreach>
        else stock
        end),
        low_stock =
        (case
        <foreach collection="list" item="item" index="index" open="" close="" separator=" ">
            when id = #{item.id} then #{item.lowStock}
        </foreach>
        else low_stock
        end),
        sale =
        (case
        <foreach collection="list" item="item" index="index" open="" close="" separator=" ">
            when id = #{item.id} then #{item.sale}
        </foreach>
        else sale
        end),
        weight =
        (case
        <foreach collection="list" item="item" index="index" open="" close="" separator=" ">
            when id = #{item.id} then #{item.weight}
        </foreach>
        else weight
        end),
        dimension =
        (case
        <foreach collection="list" item="item" index="index" open="" close="" separator=" ">
            when id = #{item.id} then #{item.dimension}
        </foreach>
        else dimension
        end),
        original_price =
        (case
        <foreach collection="list" item="item" index="index" open="" close="" separator=" ">
            when id = #{item.id} then #{item.originalPrice}
        </foreach>
        else original_price
        end),
        price =
        (case
        <foreach collection="list" item="item" index="index" open="" close="" separator=" ">
            when id = #{item.id} then #{item.price}
        </foreach>
        else price
        end)
    </update>

</mapper>
