<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rainbow.admin.mapper.SkuSpecMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.rainbow.admin.entity.SkuSpec">
        <id column="id" property="id" />
        <result column="sku_id" property="skuId" />
        <result column="spec_name_id" property="specNameId" />
        <result column="spec_name" property="specName" />
        <result column="spec_value_id" property="specValueId" />
        <result column="spec_value" property="specValue" />
        <result column="sort_id" property="sortId" />
        <result column="update_time" property="updateTime" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, sku_id, spec_name_id, spec_name, spec_value_id, spec_value, sort_id, del_status, update_time, create_time
    </sql>

    <delete id="removeBySkuIds" parameterType="java.util.List">
        delete from sku_spec where sku_id in
        <foreach collection="skuIds" item="skuId" open="(" close=")" separator=",">
            #{skuId}
        </foreach>
    </delete>


    <select id="listBySkuId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
            <include refid="Base_Column_List"/>
        from sku_spec ss
        where
            ss.sku_id = #{skuId}
    </select>


    <select id="listBySpuId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
            ss.*
        from sku_spec ss
         left join sku s on s.id = ss.sku_id
        where
            s.spu_id = #{spuId}
    </select>



</mapper>
