<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rainbow.admin.mapper.SpecNameMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.rainbow.admin.entity.SpecName">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="item_id" property="itemId" />
        <result column="exist_alias" property="existAlias" />
        <result column="is_color" property="color" />
        <result column="is_enumeration" property="enumeration" />
        <result column="is_input" property="input" />
        <result column="is_critical" property="critical" />
        <result column="is_sku" property="sku" />
        <result column="is_search" property="search" />
        <result column="is_must" property="must" />
        <result column="is_multiple" property="multiple" />
        <result column="del_status" property="delStatus" />
        <result column="update_time" property="updateTime" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, item_id, exist_alias, is_color, is_enumeration, is_input, is_critical, is_sku, is_search, is_must, is_multiple, del_status, update_time, create_time
    </sql>


</mapper>
