<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rainbow.portal.mapper.FlashPromotionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.rainbow.api.entity.FlashPromotion">
        <id column="id" property="id" />
        <result column="theme" property="theme" />
        <result column="start_date" property="startDate" />
        <result column="end_date" property="endDate" />
        <result column="status" property="status" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="del_status" property="delStatus" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, theme, start_date, end_date, status, create_time, update_time, del_status
    </sql>

    <select id="listByStatus" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from flash_promotion
        where status = 1 and
        CURRENT_TIMESTAMP between start_date and end_date
        order by start_date desc
    </select>

</mapper>
