<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rainbow.portal.mapper.FlashPromotionSpuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.rainbow.api.entity.FlashPromotionSpu">
        <id column="id" property="id" />
        <result column="flash_promotion_id" property="flashPromotionId" />
        <result column="flash_promotion_session_id" property="flashPromotionSessionId" />
        <result column="spu_id" property="spuId" />
        <result column="flash_discount_price" property="flashDiscountPrice" />
        <result column="flash_promotion_num" property="flashPromotionNum" />
        <result column="flash_promotion_limit" property="flashPromotionLimit" />
        <result column="sort_id" property="sortId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, flash_promotion_id, flash_promotion_session_id, spu_id, flash_discount_price, flash_promotion_num, flash_promotion_limit, sort_id
    </sql>

    <select id="listBySessionId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from flash_promotion_spu
        where
        flash_promotion_session_id = #{sessionId}
        and flash_promotion_id in
        <foreach collection="list" item="flashPromotionId" index="index" open="(" close=")" separator=",">
            #{flashPromotionId}
        </foreach>
    </select>

</mapper>
