<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rainbow.portal.mapper.GrouponOrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.rainbow.api.entity.GrouponOrder">
        <id column="id" property="id" />
        <result column="customer_id" property="customerId" />
        <result column="order_id" property="orderId" />
        <result column="pay_order_id" property="payOrderId" />
        <result column="trade_no" property="tradeNo" />
        <result column="groupon_activity_id" property="grouponActivityId" />
        <result column="groupon_id" property="grouponId" />
        <result column="total_amount" property="totalAmount" />
        <result column="discount_amount" property="discountAmount" />
        <result column="status" property="status" />
        <result column="operate_type" property="operateType" />
        <result column="del_status" property="delStatus" />
        <result column="update_time" property="updateTime" />
        <result column="create_time" property="createTime" />
        <result column="success_time" property="successTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, customer_id, order_id, pay_order_id, trade_no, groupon_activity_id, groupon_id, total_amount, discount_amount, status, operate_type, del_status, update_time, create_time, success_time
    </sql>

</mapper>
