<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rainbow.portal.mapper.OrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.rainbow.api.entity.Order">
        <id column="id" property="id" />
        <result column="order_no" property="orderNo" />
        <result column="customer_id" property="customerId" />
        <result column="customer_name" property="customerName" />
        <result column="pay_type" property="payType" />
        <result column="status" property="status" />
        <result column="order_type" property="orderType" />
        <result column="auto_confirm_day" property="autoConfirmDay" />
        <result column="trade_no" property="tradeNo" />
        <result column="promotion_amount" property="promotionAmount" />
        <result column="integration_amount" property="integrationAmount" />
        <result column="promotion_info" property="promotionInfo" />
        <result column="integration_award" property="integrationAward" />
        <result column="coupon_amount" property="couponAmount" />
        <result column="total_amount" property="totalAmount" />
        <result column="flow_id" property="flowId" />
        <result column="delivery_company" property="deliveryCompany" />
        <result column="delivery_bill_no" property="deliveryBillNo" />
        <result column="deliver_mode" property="deliverMode" />
        <result column="deliver_fee" property="deliverFee" />
        <result column="receiver_name" property="receiverName" />
        <result column="receiver_phone" property="receiverPhone" />
        <result column="receiver_post_code" property="receiverPostCode" />
        <result column="receiver_province" property="receiverProvince" />
        <result column="receiver_city" property="receiverCity" />
        <result column="receiver_region" property="receiverRegion" />
        <result column="receiver_detail_address" property="receiverDetailAddress" />
        <result column="note" property="note" />
        <result column="confirm_status" property="confirmStatus" />
        <result column="use_integration" property="useIntegration" />
        <result column="payment_time" property="paymentTime" />
        <result column="delivery_time" property="deliveryTime" />
        <result column="receive_time" property="receiveTime" />
        <result column="del_status" property="delStatus" />
        <result column="update_time" property="updateTime" />
        <result column="create_time" property="createTime" />
        <result column="p_order_no" property="parentOrderNo" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, order_no, customer_id, customer_name, pay_type, status, order_type, auto_confirm_day, trade_no, promotion_amount, integration_amount, promotion_info, integration_award, coupon_amount, total_amount, flow_id, delivery_company, delivery_bill_no, deliver_mode, deliver_fee, receiver_name, receiver_phone, receiver_post_code, receiver_province, receiver_city, receiver_region, receiver_detail_address, note, confirm_status, use_integration, payment_time, delivery_time, receive_time,  del_status, p_order_no, update_time, create_time
    </sql>

    <select id="pageOrder" parameterType="com.rainbow.api.dto.SelfOrderSearchDTO" resultMap="BaseResultMap">
        SELECT *
        FROM
        order_
        WHERE
        del_status = 0 and customer_id = #{param.customerId}
        <if test="param.orderNo != null and param.orderNo != ''">
            AND order_no like CONCAT('%',#{param.orderNo},'%')
        </if>
        <if test="param.status != null and param.status != ''">
            AND status = #{param.status}
        </if>
        <if test="param.orderIds != null and param.orderIds.size() > 0">
            AND id in
            <foreach collection="param.orderIds" item="orderId" index="index" open="(" close=")" separator=",">
                #{orderId}
            </foreach>
        </if>
    </select>


    <select id="getByParentOrderNo" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from order_
        where customer_id = #{customerId} and p_order_no = #{parentOrderNo} and status = 0 and del_status = 0
    </select>

</mapper>
