<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rainbow.admin.mapper.CouponItemMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.rainbow.api.entity.CouponItem">
        <id column="id" property="id" />
        <result column="coupon_id" property="couponId" />
        <result column="item_id" property="itemId" />
        <result column="item_name" property="itemName" />
        <result column="parent_item_name" property="parentItemName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, coupon_id, item_id, item_name, parent_item_name
    </sql>

    <delete id="removeByCouponId" parameterType="java.lang.Long">
        delete from coupon_item where coupon_id = #{couponId}
    </delete>

</mapper>
