<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rainbow.admin.mapper.SpuImgMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.rainbow.api.entity.SpuImg">
        <id column="id" property="id" />
        <result column="spu_id" property="spuId" />
        <result column="sku_id" property="skuId" />
        <result column="img_url" property="imgUrl" />
        <result column="is_cover" property="coverFlag" />
        <result column="is_master" property="masterFlag" />
        <result column="is_color" property="colorFlag" />
        <result column="sort_id" property="sortId" />
        <result column="update_time" property="updateTime" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, spu_id, sku_id, img_url, is_cover, is_master, is_color, sort_id, del_status, update_time, create_time
    </sql>

    <delete id="removeBySpuId" parameterType="java.lang.Long">
        delete from spu_img  where spu_id = #{spuId}
    </delete>

    <insert id="insertBatch" parameterType="java.util.List">
        insert into spu_img (spu_id, sku_id, img_url, is_cover, is_master, is_color, sort_id,  update_time, create_time)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.spuId}, #{item.skuId}, #{item.imgUrl},
            #{item.coverFlag}, #{item.masterFlag}, #{item.colorFlag}, #{item.sortId},
            null, CURRENT_TIMESTAMP
            )
        </foreach>
    </insert>

</mapper>
